<ng-container #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row p-4">
        <div class="p-4">
          <div class="col mt-3">
            <span>Name: </span>
            <span style="font-weight: 500; font-size: 16px; margin-left: 12px">
              {{ role.label }}
            </span>
          </div>

          <div class="col mt-3">
            <span>Description: </span>
            <span style="font-weight: 500; font-size: 16px; margin-left: 12px">
              <div style="max-height: 150px; overflow-y: auto">
                {{ role.description }}
              </div>
            </span>
          </div>

          <div class="col mt-3">
            <div class="row">
              <div class="row mb-3">
                <label for="permissions">Permissions:</label>

                <div class="col" *ngFor="let item of permissions">
                  <div class="checkbox p-0">
                    <input [id]="item" type="checkbox" checked disabled />
                    <label [for]="item">{{ getPermissions(item) }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
