<div class="row">
  <div class="col-xs-12">
    <form class="form theme-form" [formGroup]="formGroup">
      <div style="margin-top: 40px" class="row gap-4 justify-content-center">
        <div class="card col-sm-3">
          <div style="padding: 80px 24px 40px">
            <div class="row justify-content-center">
              <div class="account-avatar">
                <div class="my-avatar">
                  <img alt="avatar" [src]="imgSrc ? imgSrc : user.imgPath" />
                </div>
              </div>
              <span class="image-note">
                Allowed *.jpeg, *.jpg, *.png, *.gif
                <br />
                max size of 3 Mb
              </span>
              <div class="col d-flex w-100 justify-content-center mt-4 gap-4">
                <button
                  (click)="fileInput.click()"
                  type="button"
                  placement="top"
                  class="btn btn-primary"
                >
                  <input
                    #fileInput
                    type="file"
                    accept="image/*"
                    style="display: none"
                    (change)="onFileSelected($event)"
                  />
                  <i class="icofont icofont-upload"></i>
                  Upload
                </button>
                <button
                  type="button"
                  placement="top"
                  class="btn btn-outline-primary m-r-10"
                >
                  <i class="icofont icofont-trash"></i>
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-sm-7 p-4 gap-2">
          <div class="row justify-content-center">
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="name">Full Name</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  [defaultValue]="user.name"
                  [formControl]="formGroup.controls.name"
                  placeholder="Please enter name"
                />
              </div>
            </div>
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="email">Email Address</label>
                <input
                  class="form-control"
                  [defaultValue]="user.email"
                  [formControl]="formGroup.controls.email"
                  id="email"
                  type="email"
                  placeholder="Please enter email"
                />
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="phone">Phone Number</label>
                <input
                  class="form-control"
                  [defaultValue]="user.phone ? user.phone : ''"
                  [formControl]="formGroup.controls.phone"
                  id="phone"
                  type="text"
                  placeholder="Please enter phone number"
                />
              </div>
            </div>
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="address">Address</label>
                <input
                  class="form-control"
                  [defaultValue]="user.address ? user.address : ''"
                  [formControl]="formGroup.controls.address"
                  id="address"
                  type="text"
                  placeholder="Please enter address"
                />
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="country">Country</label>
                <input
                  class="form-control"
                  [defaultValue]="user.country ? user.country : ''"
                  [formControl]="formGroup.controls.country"
                  id="country"
                  type="text"
                  placeholder="Please enter country"
                />
              </div>
            </div>
            <div class="col-sm-5">
              <div class="mb-3">
                <label for="city">City</label>
                <input
                  class="form-control"
                  [defaultValue]="user.city ? user.city : ''"
                  [formControl]="formGroup.controls.city"
                  id="city"
                  type="text"
                  placeholder="Please enter city"
                />
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-sm-3" style="margin-right: 22px">
              <button
                (click)="onChangesProfile()"
                type="button"
                placement="top"
                class="btn btn-primary"
              >
                <!-- <i class="icofont icofont-upload"></i> -->
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
