<ng-container #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="form theme-form" [formGroup]="formGroup">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <div class="col-sm-12 d-flex gap-4">
              <div class="col-sm-2">
                <label for="status">Gender:</label>
                <select
                  id="gender"
                  class="form-control"
                  formControlName="gender"
                >
                  <option *ngFor="let item of gender" [value]="item.value">
                    {{ item.label }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label>Full Name:</label>
                <input
                  class="form-control"
                  id="fullname"
                  type="text"
                  formControlName="fullname"
                  placeholder="Please enter full name"
                />
              </div>
              <div class="col-sm-2">
                <label for="status">Role:</label>
                <select id="role" class="form-control" formControlName="role">
                  <option *ngFor="let item of role" [value]="item.value">
                    {{ item.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 d-flex gap-4">
            <div class="col">
              <label for="status">User name:</label>
              <input
                class="form-control"
                id="username"
                type="text"
                formControlName="username"
                placeholder="Please enter user name"
              />
            </div>
            <div class="col">
              <label for="status">Phone number:</label>
              <input
                class="form-control"
                id="phone"
                type="text"
                formControlName="phone"
                placeholder="Please enter user phone number"
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 d-flex gap-4">
            <div class="col">
              <label for="status">Email:</label>
              <input
                class="form-control"
                id="email"
                type="text"
                formControlName="email"
                placeholder="Please enter email"
              />
            </div>
            <div class="col">
              <label for="status">Date of birth:</label>
              <input
                class="form-control"
                id="dateOfBirth"
                type="date"
                formControlName="dateOfBirth"
                placeholder="Please enter user date of birth"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" formGroupName="address">
            <label for="status">Address:</label>
            <div class="col-sm-12">
              <div class="row mb-3">
                <div class="col-sm-12 d-flex gap-4">
                  <div class="col">
                    <input
                      class="form-control"
                      id="street"
                      type="text"
                      formControlName="street"
                      placeholder="Please enter street"
                    />
                  </div>
                  <div class="col">
                    <input
                      class="form-control"
                      id="city"
                      type="text"
                      formControlName="city"
                      placeholder="Please enter user city"
                    />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 d-flex gap-4">
                  <div class="col">
                    <input
                      class="form-control"
                      id="country"
                      type="text"
                      formControlName="country"
                      placeholder="Please enter country"
                    />
                  </div>
                  <div class="col">
                    <input
                      class="form-control"
                      id="postalCode"
                      type="text"
                      formControlName="postalCode"
                      placeholder="Please enter postal Code"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label class="col-form-label m-r-10"> Status: </label>
                  <div class="media-body">
                    <label class="switch">
                      <input
                        type="checkbox"
                        [checked]="formGroup.get('status')?.value"
                        (change)="activeAccount($event)"
                      />
                      <span class="switch-state"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.dismiss()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="create()">
      Save
    </button>
  </div>
</ng-container>
