<ng-container #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row p-4">
        <div class="p-4">
          <div class="col mt-3">
            <span>Name: </span>
            <span
              style="font-weight: 500; font-size: 16px; margin-left: 12px"
              >{{ group.name }}</span
            >
          </div>
          <div class="col mt-3">
            <span>Status: </span>
            <span
              [class]="{
                'on-active': group.status === true,
                'no-active': group.status === false
              }"
              style="padding: 4px; border-radius: 8px; margin-left: 12px"
            >
              {{ group.status === true ? "InActive" : "Active" }}
            </span>
          </div>
          <div class="col mt-3">
            <span>Description: </span>
            <span style="font-weight: 500; font-size: 16px; margin-left: 12px">
              <div style="max-height: 150px; overflow-y: auto">
                {{ group.descrition }}
              </div>
            </span>
          </div>
          <div class="col mt-3">
            <div class="row">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h5 class="col">List users</h5>
                  </div>
                </div>
                <div>
                  <ul
                    class="list-group list-group-flush"
                    style="max-height: 450px; overflow-y: auto; height: 450px"
                  >
                    <li
                      class="list-group-item d-flex align-items-center"
                      *ngFor="let employee of displayedEmployees"
                    >
                      <div
                        class="col-sm-2 d-flex justify-item-center justify-content-center"
                      >
                        <img
                          src="https://pub-c5e31b5cdafb419fb247a8ac2e78df7a.r2.dev/mock/assets/images/avatar/avatar-25.webp"
                          alt=""
                          style="width: 58px; height: 58px; border-radius: 100%"
                        />
                      </div>
                      <div class="col" style="color: black; margin-left: 12px">
                        <span
                          class="row"
                          style="font-size: 18px; font-weight: 500"
                        >
                          {{ employee.name }}</span
                        >
                        <span class="row" style="font-style: italic">{{
                          employee.email
                        }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
