<app-breadcrumb [title]="config.moduleLabel || ''" [items]="config.breadcrumb"
  [active_item]="config.activeItem"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h5 class="col">
              {{config.fnLabel || ''}}</h5>
            <div class="col">
              <button type="button" placement="top" class="btn btn-primary f-right" (click)="openModalCreateCustomer()">
                <i class="icofont icofont-plus"></i>
                Add
              </button>
            </div>
          </div>

        </div>
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" sortable="username" (sort)="onSort($event)">Username</th>
                  <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                  <th scope="col" sortable="phone" (sort)="onSort($event)">Phone</th>
                  <th scope="col" sortable="sale" (sort)="onSort($event)">Sale</th>
                  <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of config.items">
                  <td scope="row">
                    <ngb-highlight [result]="item.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.startDate" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.invoice" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td scope="row">
                    <ngb-highlight [result]="item.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span class="badge {{ item.ActionClass }}">
                      <ngb-highlight [result]="item.salary" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <div class="action">
                      <li class="edit">
                        <a href="#"><i class="icon-pencil-alt"></i></a>
                      </li>
                      <li class="delete" (click)="onSelect(item.name)">
                        <a href="#"><i class="icon-trash"></i></a>
                      </li>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-3">
              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
              <ngb-pagination class="ms-3" [collectionSize]="(config.total)!" [(page)]="service.page"
                [pageSize]="service.pageSize"> </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->