<app-breadcrumb
  [title]="config.moduleLabel || ''"
  [items]="config.breadcrumb"
  [active_item]="config.activeItem"
></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <app-chart />
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h5 class="col">
              {{ config.fnLabel || "" }}
            </h5>
            <div class="col d-flex w-100 flex-row-reverse">
              <button
                type="button"
                placement="top"
                class="btn btn-outline-primary m-r-10"
                (click)="search()"
              >
                <i class="icofont icofont-ui-search"></i>
                Search
              </button>
              <div class="form-group m-r-10 flex-fill">
                <input
                  class="form-control"
                  id="username"
                  type="text"
                  placeholder="Please enter username"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th
                    scope="col"
                    sortable="description"
                    (sort)="onSort($event)"
                  >
                    Description
                  </th>
                  <th scope="col" sortable="amount" (sort)="onSort($event)">
                    Amount
                  </th>
                  <th scope="col" sortable="type" (sort)="onSort($event)">
                    Type
                  </th>
                  <th scope="col" sortable="status" (sort)="onSort($event)">
                    Status
                  </th>
                  <th scope="col" sortable="date" (sort)="onSort($event)">
                    Date
                  </th>

                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of config.items">
                  <td scope="row">
                    <ngb-highlight
                      style="cursor: pointer"
                      [result]="item.description"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="item.amount"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="item.type === 'credit' ? 'Credit' : 'Debit'"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>

                  <td>
                    <span
                      [class]="{
                        'on-active': item.status === true,
                        'no-active': item.status === false
                      }"
                      style="padding: 4px; border-radius: 8px"
                    >
                      &#9679;
                      <ngb-highlight
                        [result]="item.status === true ? 'Completed' : 'Failed'"
                        [term]="service.searchTerm"
                      ></ngb-highlight>
                    </span>
                  </td>
                  <td scope="row">
                    <ngb-highlight
                      [result]="item.date"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <div class="action">
                      <li class="edit cursor-pointer">
                        <i class="icon-pencil-alt"></i>
                      </li>
                      <li class="delete cursor-pointer">
                        <i class="icon-trash"></i>
                      </li>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-3">
              <select
                class="form-select"
                style="width: auto"
                name="pageSize"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
              <ngb-pagination
                class="ms-3"
                [collectionSize]="config.total!"
                [(page)]="service.page"
                [pageSize]="service.pageSize"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
